<h1>Python </h1>

In [ ]:
import sys
print(sys.version)

<h2 id="types_objects" align="center">Types of objects in Python</h2>

<p>Type of an expression by using the built-in <code>type()</code> function, integers as <code>int</code>, floats as <code>float</code>, and character strings as <code>str</code>.

In [ ]:
sys.float_info # Specifics of floats, also tell the largest and smallest numbers

In [ ]:
type(float(2)) # Convert integer 2 to a float and check its type

In [ ]:
int(1.1) # Casting 1.1 to integer will result in loss of information

In [ ]:
# Convert 
float('1.2')
str(1.2)

<h3 id="bool">Boolean data type</h3>

In [6]:
type(False)

bool

In [7]:
int(True)

1

In [9]:
bool(0)

False

In [10]:
float(True)

1.0

In [ ]:
5 - 2 # subtraction
3 * 2 # multiplication
4 / 2 # division
25//6 #integer division rounded to the nearest integer
4 \*\* 2 # exponentiation

<a id="ref0"></a>
<h2 align=center>Strings </h2>

 <img src = "https://ibm.box.com/shared/static/esdu9w118rm1aldff7ff8c9b3kpjdazc.png" width = 600, align = "center"></a>

<img src = "https://ibm.box.com/shared/static/rmq8akevtt6uufox3xai7q2kqs4j9kan.png" width = 600, align = "center"></a>

In [16]:
len("Michael Jackson") #number of characters in a string by using 'len'

15

<img src="https://ibm.box.com/shared/static/bva43bmp00cxeunqh4w7blkgniycbign.png" width=600, align= "center"></a>

 We can also  input a stride value as follows, with the '2' indicating that we are selecting every second variable:

 <img src="https://ibm.box.com/shared/static/f49xvym409rxclhtbr30xrs9kc4l5419.png" width=600, align="center"></a>

In [30]:
Name = "Michael Jackson"
Name[::2]

'McalJcsn'

In [31]:
Name[0:5:2] #the first five elements and then use the stride

'Mca'

In [27]:
Statement = Name + " is the best"
Statement

'Micheal Jackson is the best'

In [28]:
3*"Michael Jackson "

'Michael Jackson Michael Jackson Michael Jackson '

In [32]:
Name= "Michael Jackson"
Name= Name+" is the best"
Name

'Michael Jackson is the best'

 <a id="ref2"></a>
<h2 align=center>Escape Sequences  </h2>

In [33]:
print(" Michael Jackson \n is the best" )

 Michael Jackson
 is the best

In [34]:
print(" Michael Jackson \t is the best" )

 Michael Jackson 	 is the best

In [35]:
print(" Michael Jackson \\ is the best" )

 Michael Jackson \ is the best

In [36]:
print(r" Michael Jackson \ is the best" )

 Michael Jackson \ is the best

<a id="ref3"></a>
<h2 align=center>String Operations</h2>

In [8]:
A="Thriller is the sixth studio album"
print("before upper:",A)
B=A.upper()
print("After upper:",B)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [9]:
A="Michael Jackson is the best"
B=A.replace('Michael', 'Janet')
B

'Janet Jackson is the best'

The method "find" finds a sub-string. The argument is the substring you would like to find, and the output is the first index of the sequence. We can find the sub-string "jack" or "el".

 <img src="https://ibm.box.com/shared/static/mc414goh1l8jfo9gb19yibuylk8zk7dh.png" width=600, align="center"></a>

<a id="ref1"></a>
<center><h2>Tuples</h2></center>

In Python, there are different data types: string, integer and float. These data types can all be contained in a tuple as follows:

<img src = "https://ibm.box.com/shared/static/t2jw5ia78ulp8twr71j6q7055hykz10c.png" width = 750, align = "center"></a>

In [43]:
tuple1=("disco",10,1.2 )
tuple1

('disco', 10, 1.2)

In [44]:
 type(tuple1)

tuple

<img src = "https://ibm.box.com/shared/static/83kpang0opwen5e5gbwck6ktqw7btwoe.gif" width = 750, align = "center"></a>

 <img src = "https://ibm.box.com/shared/static/uwlfzo367bekwg0p5s5odxlz7vhpojyj.png" width = 750, align = "center"></a>

We can concatenate or combine tuples by using the **+** sign:

In [46]:
tuple2=tuple1+("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

<img src = "https://ibm.box.com/shared/static/s9nofy728bcnsgnx3vh159bu16w7frnc.gif" width = 750, align = "center"></a>

In [47]:
len(tuple2)

5

In [48]:
Ratings  =(0,9,6,5,10,8,9,6,2)

In [49]:
RatingsSorted=sorted(Ratings )

A tuple can contain another tuple as well as other more complex data types.  This process is called 'nesting'. Consider the following tuple with several elements:

In [52]:
NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

Each element in the tuple including other tuples can be obtained via an index as shown in the figure:

<img src = "https://ibm.box.com/shared/static/estqe2bczv5weocc4ag4mx9dtqy952fp.png" width = 750, align = "center"></a>

<img src = "https://ibm.box.com/shared/static/j1orgjuasaaj3d0feymedrnoqv8trqyo.png" width = 750, align = "center"></a>

 <img src ='https://ibm.box.com/shared/static/vjvsygpzpwcr6czsucgno1wukyhk5vxq.gif'  width = 750, align = "center"></a>

In [54]:
NestedT[2].index('pop') # first index of "pop"

0

<a id="ref1"></a>
<center><h2>Lists</h2></center>

A list is a sequenced collection of different objects such as integers, strings, tuples and other lists as well. The address of each element within a list is called an 'index'. An index is used to access and refer to items within a list.

 <a ><img src = "https://ibm.box.com/shared/static/a7ac9lnvmcaz29n86ffez4as27fl3n9m.png" width = 1000, align = "center"></a>


<a ><img src = "https://ibm.box.com/shared/static/pt3pfp1sg5okwuwwpy0dnj8e94fl2mwy.png" width = 1000, align = "center"></a>

In [57]:
L = [ "Michael Jackson", 10.2]
L.extend(['pop',10]) #  "extend" to add new elements to the list
L

['Michael Jackson', 10.2, 'pop', 10]

In [60]:
L = [ "Michael Jackson", 10.2]
L.append(['pop',10]) # 'appended' instead of 'extended' to add ONE element to the list
L

['Michael Jackson', 10.2, ['pop', 10]]

In [ ]:
A = ["disco",10,1.2]
A[0] = 'hard rock' # change an element
del(A[0]) #delete an element of a list

In [ ]:
'hard rock'.split()
'A,B,C,D'.split(',')

 When we set one variable  **B** equal to **A**;  both **:

In [ ]:
A = ["hard rock",10,1.2]
B = A # A and B are referencing the same list in memory 
print('A:', A)
print('B:', B)

 <a ><img src = https://ibm.box.com/shared/static/thdu6y5pzh99qpun4tu2fjvj86st0hbu.gif width = 1000, align = "center"></a>


 <a ><img src = https://ibm.box.com/shared/static/gwx86gaoeizqjvx7xj96cb8i9hn684ei.gif width = 1000, align = "center"></a>

Now if you change A, B will not change:

<a id="ref2"></a>
<h2 align=center> Dictionaries  in Python  </h2>

<a ><img src = "https://ibm.box.com/shared/static/6tyznuwydogmtuv73o8l5g7xsb8o92h2.png" width = 650, align = "center"></a>

In [ ]:
Dict={"key1":1,"key2":"2","key3":[3,3,3],"key4":(4,4,4),('key5'):5,(0,1):6}
Dict

In [ ]:
Dict["key1"] # The keys can be strings

In [ ]:
Dict[(0,1)] #can also be any immutable object such as a tuple

In [75]:
release_year_dict = {"Thriller":"1982", "Back in Black":"1980", \
                    "The Dark Side of the Moon":"1973", "The Bodyguard":"1992", \
                    "Bat Out of Hell":"1977", "Their Greatest Hits (1971-1975)":"1976", \
                    "Saturday Night Fever":"1977", "Rumours":"1977"}
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [77]:
release_year_dict['Thriller'] # You can retrieve the values based on the names

'1982'

In [ ]:
release_year_dict.keys() #retrieve the keys

In [ ]:
release_year_dict.values() # retrieve the values

In [ ]:
release_year_dict['Graduation']='2007' # add an entry

In [ ]:
del(release_year_dict['Graduation']) # delete an entry

In [ ]:
'The Bodyguard' in release_year_dict #verify if an element is in the dictionary

<a id="ref1"></a>
<center><h2>Sets</h2></center>

In [ ]:
# A set is a unique collection of objects in Python. Python will remove duplicate items
set1={"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}

<a ><img src = https://ibm.box.com/shared/static/i0xb9qbetek7kbh17krx05i4lqmywahm.png width = 1100, align = "center"></a>

 You can also  create a set from a list as follows:

In [80]:
album_list =[ "Michael Jackson", "Thriller", 1982, "00:42:19", "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)  # duplicates are removed and the output is sorted

### Set Operations

In [ ]:
A = set(["Thriller","Back in Black", "AC/DC"] )
A.add("NSYNC")
A.remove("NSYNC")
"AC/DC"  in A # True

### Working with sets

Remember that with sets you can check the difference between sets, as well as the symmetric difference, intersection, and union:

 Consider the following two sets:

In [86]:
album_set1 = set(["Thriller",'AC/DC', 'Back in Black'] )
album_set2 = set([ "AC/DC","Back in Black", "The Dark Side of the Moon"] )

In [96]:
album_set_3=album_set1 & album_set2 # find the common elements 
album_set_3

{'AC/DC', 'Back in Black'}

In [97]:
album_set1.difference(album_set2)  # elements that are ONLY contained in album_set1

{'Thriller'}

In [98]:
album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

In [99]:
album_set1.union(album_set2) # superset

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [100]:
set(album_set1).issuperset(album_set2)   # check if a set is a superset or subset

False

In [95]:
set(album_set2).issubset(album_set1)     # check if a set is a superset or subset

False